 /* NEW CSS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: "Bebas Neue" !important;
}


.sticky-top{
padding: 0px 50px;
}
#title-name {
text-align:center;
letter-spacing:.25rem;
}

.css-d4hhgg-Title {
    font-family: "HindSiliguri-Regular";
    color:black !important;
}

a.nav-link {
    margin: 0px auto;
    font-size: 25px;
}

.box-container{
    margin-top:5%;
    display:flex;
}


 .navbar-brand {
    color: rgba(0,0,0,.9);
    text-align:center;
    margin-right:-5%;
    width:100%;
}




a {
    text-decoration:none;
    color:inherit;
}


.secret-sauce:hover{
    cursor:text;
}



.css-hyc5to {
    color:#d15650 !important;
}

.insta {
    width:100%;
    float:left;
}

.col {
    text-align:center !important;
}

nav.navbar.navbar-expand-lg.navbar-light.sticky-top {
    background-color: black !important;
    color:white;
}

.navbar .nav-link { 
    color:white !important;
}


#title-name {
    color:white;
    font-size:35px
}


.card-deck .card {
    flex: 1 0 30%;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}



.more-info-btn {
    margin: 0px auto;
}

.button-box {
    margin-top:1px;
    border: 2px solid #28a745;
    background-color:#e0f1e4;
}

footer#footer {
    height:100px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top:5%;
}