
 /* NEW CSS */

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 * {
     font-family: "Bebas Neue" !important;
 }
 
 /* footer {
     display:none !important;
 } */
 
 .sticky-top{
 padding: 0px 50px;
 }
 #title-name {
 text-align:center;
 letter-spacing:.25rem;
 }
 
 .css-d4hhgg-Title {
     font-family: "HindSiliguri-Regular";
     color:black !important;
 }
 
 a.nav-link {
     margin: 0px auto;
     font-size: 25px;
 }
 
 .box-container{
     margin-top:5%;
     display:flex;
     margin-left:-20px;
 }
 
 


 #title-name {
  color:white;
  font-size:1.5rem;
}



 @media (max-width:667px) {
.title-container {
  margin-top:15%;
}

#title-name {
  font-size:1.25em;
}

p#title-sub {
width:100%;
text-align:center;
margin-top:-2%;
}
}

.title-container{
  display:block;
  width:100%;
}
/* 
 
 @media (min-width:668px) and (max-width:991px) {



    .navbar-nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: row;
      padding:5px;
      margin-bottom: 0;
      list-style: none;
      position: fixed;
      background-color: rgb(221, 103, 23);
      top: 12%;
      width: 50%;
      border-radius: 5px;
      z-index: 1000000;
    }
  p#title-sub {
    width:100%;
    text-align:center;
    }
  } */
 
 @media (min-width:992px) {

  .transf-col{
    margin-left: 3rem!important;
  }
  .title-container {
    position: fixed;
    width: 100%;
    top: 5%;
    height:100px;
}
  
p#title-sub {
  position: absolute;
  top: 115px;
  left: 50%;
  display: inline-block;
}

.insta-div {
  width:80%;
  margin:0px auto;
}
.row.social-row {
  width: 50%;
  margin: 0px auto;
}

  }

  .transf-col {
    background-color:white;
    border-radius:15px;
  }


 
 
 
 
 
 /* a {
     text-decoration:none;
     color:inherit;
 } */
 a:hover {
     text-decoration:none;
     color:inherit;
     opacity:.8;
 }
 
 
 
 .css-hyc5to {
     color:#d15650 !important;
 }
 
 .insta {
     width:100%;
     float:left;
 }
 
 .col {
     text-align:center !important;
 }
 
 nav.navbar.navbar-expand-lg.navbar-light.sticky-top {
     background-color: black !important;
     color:white;
 }

 
 

 
 .insta-img {
     /* position:fixed;
     left:2px;
     bottom:2px; */
     text-align:right;
     margin:0px auto;
 }
 .fb-img {
     /* position:fixed;
     left:2px;
     bottom:2px; */
     text-align:right;
     margin:0px auto;
 }
 

 .bio-img {
  border-radius: 25px;
  max-height: 400px;
  max-width: 400px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}



.bio-text {
  width: 50%;
  margin: 1% auto;
}

.bio-text>p {
  width: 90%;
  line-height: 2.5em;
  font-size:22px;
}

.bio-text-transfer {
  width: 75%;
  margin: 1% auto;
}

.bio-text-transfer >p {
  width: 100%;
  line-height: 2.5em;
  font-size:22px;
}


@media (max-width:991px) {
.bio-text>p {
  width: 100%;
  line-height: 1.5em;
}
.heroArrow {
  left:1% !important;
}
}


@media (max-width:991px) {
  .bio-img {
      margin-top: 20%;
      margin-left: auto !important;
      margin-right: auto !important;
      /* max-height: 200px;
      max-width: 250px; */
  }

  .bio-box {
      padding: 2%;
      display: flex;
      margin: 0px auto;
  }
  
  .bio-text > p {
      width: 100%;
      line-height: 2em;
      font-size:20px;
      text-align:center;
      margin-bottom:10%;
  }
  .bio-text-transfer > p {
      width: 100%;
      line-height: 1.5em;
      font-size:20px;
      text-align:center;
  }
  .bio-text > h1 {

      width: 100%;
  }
  .nav-bar-brand {
  margin-top:20% !important;
}

a.transfers-link.nav-link {
  position:fixed;
  top:5px;
  left:20px;
}

}

img.pulse {
  width: 35%;
  margin: 10%;
  border-radius:15px;
}
img.pulse:hover {
 opacity:.8;
}



.bio-box {
  padding: 5%;
  display: flex;
  margin: 0px auto;
}



@media (max-width:991px) {
.bio-box {

  padding: 0%;
  display: inline-block;
  /* margin: 0px auto !important; */
  width: 100%;
  text-align:center;
}

.bio-text {
  width: 90%;
  margin: 1% auto;
}

}

.transf-back-btn {
  position:fixed;
  z-index:1500;
}



.content-box {
  height: 100px;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 50px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  letter-spacing: 5px;
  /* text-shadow: 0 2px 1px #747474; */
  background-color:black;
}

@media (min-width:1200px){
 
.box-container{
  padding:50px;
}
}

.main-box > * {
  margin-top:5vh;
}

.box-container{
margin-top:-5% !important;
}

.content-box > p {
  position: relative;
  top: 10%;
}

.content-box:hover{
  opacity:.75;
}

@media (max-width:997px) {
.content-box {
  height:150px;
 width: 41vw;
  color:#ffff;
  display:flex;
  justify-content:center;
  flex-direction:row-reverse;
  font-size:40px;
  margin:5px;
  border-radius:5px;
  box-shadow:0 6px 6px rgba(0,0,0,0.2);
  letter-spacing: 5px;
  /* text-shadow: 0 2px 1px #747474; */
  text-transform:uppercase;
}
.content-box > p {
  position: relative;
  top: 30%;
}
}


@media (min-width:768px) {

  .letter-img{
      margin:0px auto;
      text-align:center;
  }
  
  /* .letter-img > img {
      border-radius:25px;
      width:90%;
  } */
  
  .letter-img > img {
    position:fixed;
      border-radius: 25px;
      width: 150px;
      height: auto;
      top: 0px;
      right: 0px;
      letter-spacing: 5px;
  }
  
  /* .letter-img:hover{
      transform: scale(1.25);
    transition: all .5s ease-in-out;
  } */
  
  }
  
  
   @media (max-width:991px) {
  
  
  
  .letter-img > img {
      position:absolute;
      border-radius: 25px;
      width: 100px;
      height: 90px;
      top:0px;
      right:0px;
      letter-spacing: 5px;
      z-index:-5;
  }
   }
  
  


   button.navbar-toggler {
    position: fixed;
    top: 6px;
    right: 17px;
   }

.navbar-toggler-icon {
  background-color: rgb(221, 103, 23);
  border-color: rgba(0,0,0,.1);
  border-radius:5px;
  position: fixed;
  top: 5px;
  right: 15px;

}
/* 
.navbar-light .navbar-toggler {
  position: fixed;
  top: 2.5%;
  left: 5px;
}


@media (max-width:992px) {
.headliner{
  margin-left:13%;
}



.navbar-brand {
  color: rgba(0,0,0,.9);
  text-align:center;
  position:fixed;
  width:25%;
  top:7%;
  left:40%;
}
      

.navbar-nav .dropdown-menu {
  position: fixed;
  float: none;
  top: 25%;
  left:50%;
}
}
@media (max-width:667px) {

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding:5px;
    margin-bottom: 0;
    list-style: none;
    position: fixed;
    background-color: rgb(221, 103, 23);
    top: 18%;
    width: 75%;
    border-radius: 5px;
    z-index: 1000000;
  }

.navbar-brand {
  color: rgba(0,0,0,.9);
  text-align:center;
  position:fixed;
  width:25%;
  top:7%;
  left:15%;
}
      

}

.navbar-expand-lg .navbar-collapse {
  z-index:1500;
} */

.homepage-narrow {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow:hidden;
}

    @media (min-width: 992px) {
      .homepage-narrow {
          max-width: 960px;
          
      }

      .bio-text>p {
        line-height:2em;
      }

      img.pulse {
        width:25%;
      }
      }

@media (min-width: 1200px) {
.homepage-narrow {
    max-width: 1140px;
}
}


.hero-pic {
  /* background-size: cover;
  height: 100vh;
  width: 100%;
  background-position-y: 100%; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/static/media/field22.00aee848.jpg);
  background-size: cover;
  background-position-y: 20%;
  background-position-x: 75%;
  width: 100%;
  min-height:95vh;
  margin: 0 auto;
  
}

@media (max-width:992px) {
.hero-pic {
  background-position-y: 6%;
  background-position-x: 45%;
  width: 100%;
  min-height:90vh;
  
}
.carArrow , .browseArrow {
  display:none;
}
}

.heroTitle , .heroSub, .heroArrow{
  color:white;
  position:absolute;
}
.heroTitle{
  bottom:30px;
  right:2.5%;
}

@media (max-width:321px) {
  h1.heroTitle {
    font-size: 2em;
}
#title-name {
  font-size: 1.25rem;
  margin-top: 10%;
}

.carousel-caption > h3 {
  font-size:1rem;
}
.heroSub{
  font-size:1.5em;
}
}



.heroSub{
  bottom: 0;
  right:2.5%;
}
.heroArrow {
  font-size: 24px;
 bottom:0px;
 left:50%;
 animation: arrow-pulse-down 700ms linear infinite;
}

  .carArrow {
    font-size: 24px;
   bottom:100px;
   left:50%;
   animation: arrow-pulse-down 700ms linear infinite;
  }
  .browseArrow {
    font-size: 24px;
   bottom:100px;
   left:50%;
   animation: arrow-pulse-down 700ms linear infinite;
  }
  
  .headliner {
      font-size: 5vw;
      color: white;
  }

	@keyframes arrow-pulse-down {
		0% {
			bottom: 40px;
			opacity: 0;
		}
		25% {
			opacity: .25;
		}
		50% {
			opacity: .5;
		}
		75% {
			opacity: .75;
		}
		100% {
			bottom: 20px;
			opacity: 1;
		}
  }
@media (min-width:997px) {
  .trippy-nav{
    display:inline-block !important;
    position:fixed !important;
    bottom:0px;
    color:whitesmoke;
    z-index:9111111;
  }
  
/* TODO: grey out current nav on scroll */
  /* .trippy-nav .nav-link:hover{
    color:grey !important;
    /* opacity:; } */
  
  }


  .nav-pills .nav-link.active {
    /* opacity: .5; */
    background-color:transparent;
  }


  .carArrow {
    margin-top: 1vw;
}


  .browseArrow {
    margin-top: 3vw;
}

.tab-browse {
  text-align:center;
}


.homepage-narrow.about {
  background-color:white;
  border-radius:15px;
}

.homepage{
  background-color:black;
}


.nav-tabs .nav-item {
  font-size:1.5rem;
}

.insta-div {
  text-align:center;
}




.carousel-div {
  text-align: center;
  background-color: black;
  height: 75vh;
  margin-top: 0vh;
}


.browse-section {
  background-color: black;
  height: 50vh;
}
.browse-content {
  padding-top: 5%;
}

.carousel-div {
  padding-top:20%;
}



@media (max-width:996px) {
  .browse-content {
    /* padding-top:50%; */
  }
  .browse-section {
    height:45vh;
  }
}


@media (min-width:997px) {

.carousel-div {
  text-align: center;
  background-color: black;
  height: 100vh;
  margin-top: 0vh;
  margin-bottom:5%;
}


.browse-section {
  background-color: black;
  height: 100vh;
}
.browse-content {
  padding-top: 30%;
}
}

.browseTabber button {
  margin: 10px;
}


/* TEMP CSS */
/* div.homepage-narrow > div.carousel-div > div.carousel-contents > div > div > div:nth-child(2) > img {
  /* height: auto;
  margin-top: -14%;
  width: 75%; */
  /* margin: 0px auto; */
div.homepage-narrow > div.carousel-div > div.carousel-contents > div > div > div > img {
  /* height: auto;
  margin-top: -14%;
  width: 65%; */
  margin: 0px auto;
}

