.profile-page {
    min-height:95vh;
}

.saved-card.card {
    display:inline-flex;
    flex: 1 0 33%;
}


img:hover {
    opacity:1 !important;
}

a:hover{
    opacity:1 !important;
}


#tooltip{
    font-size:18px;
}

.card.details-page {
    display:flex;
    min-height:25vh;
    padding-top: 15px;
    justify-content: center;
    align-items:center;
}

span.tool-tip {
    margin: 0px 15px;
}
