.ap-img , .lmt-img{
    background-size:cover;
    height:45vh;
    background-position-x: 35%;
}

.ap-img:hover , .lmt-img:hover {
    opacity:.75;
}

.ap-img{
    background-image: url("https://i.ibb.co/Qnqpkyz/Complete-Rifles00147-compressor.jpg");
}
.lmt-img{
    background-image:url("https://i.ibb.co/0QWBGzL/Capture.jpg");
}

.card-text {
color:white;
position:absolute;
top: 66%;
left: 15%;
}

.card-title {
    color:white;
}

.card-container{
    margin-bottom:25%;
}


@media (max-width:997px) {
    .card-text {
        font-size:1.45em;
    }
}