/* @media(max-width:576px){
    .search-btn{
        margin: 0px auto;
    }
}

.navbar-nav .dropdown-menu {
    position: inherit;
    float: none;
}

.logo-img{
    width:100px;
}


/* NEW NAV

@media(max-width:576px){
    .search-btn{
        margin: 0px auto;
    }
}

.navbar-nav .dropdown-menu {
    position: inherit;
    float: none;
}

.logo-img{
    width:100px;
} */ 

.bg-dark {
    background-color:black !important;
}


.btn-outline-success:hover {
    color:white !important;
    border-color: rgb(221, 103, 23) !important;
    background-color: rgb(221, 103, 23) !important;
}

.btn-outline-success {
    color:rgb(221, 103, 23);
    border-color: rgb(221, 103, 23);
}

.collapse .show {
    text-align:center;
}

form.form-inline {
    display:block;
    text-align:center;
}

button.search-btn.btn.btn-outline-success {
    margin: 10px;
}


.mr-auto.navbar-nav {
    text-align: center;
}


@media (max-width:997px) {

a.mr4.navbar-brand {
    margin: 0px auto;
}
form.form-inline {
    margin: 10px auto;
}
}

span.brand-text.navbar-brand {
    font-size: 36px;
    margin-left: 35rem;
}


.gov-id {
    font-size:1.5em;
}

@media(max-width:997px) {
    .gov-id {
        font-size:1em;
        display: block;
        width: 100%;
        text-align: center;
 
    }
     /* .collapse + .gov-id {
        margin-bottom: 0px;
        margin-top: -15px;
    } */
     /* .collapse.show + .gov-id {
        margin-bottom: unset;
        margin-top: 0px;
        /* transition: .6s; */
    /* } */
    .btn-initial-signin {
        text-align:center;
        width:100%;
    }

    
}

.nav-login-container {
    display: block;
    /* width: 100%; */
    margin: 0px auto;
    text-align: center;
}

.prof-btn {
    margin-right:5px;
}

.btn-initial-signin {
    margin-right:10px;
}
  